<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd ">

    <!--扫描的包配置-->
    <context:component-scan base-package="com.sxau.cyschool"/>

    <!--获取数据库的配置文件-->
    <context:property-placeholder location="classpath:config/db.properties"/>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}"/>
        <property name="minPoolSize" value="${jdbc.minPoolSize}"/>
        <property name="maxStatements" value="${jdbc.maxStatements}"/>
        <property name="initialPoolSize" value="${jdbc.initPoolSize}"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:config/hibernate.cfg.xml"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>

        <property name="mappingLocations">
            <list>
                <value>classpath:/hbm/Admin.hbm.xml</value>
                <value>classpath:/hbm/Title.hbm.xml</value>
                <value>classpath:/hbm/Category.hbm.xml</value>
                <value>classpath:/hbm/Image.hbm.xml</value>
                <value>classpath:/hbm/Video.hbm.xml</value>
                <value>classpath:/hbm/Sort.hbm.xml</value>
            </list>
        </property>
    </bean>

    <!--配置事务-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--配置事务，使用代理的方式-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="update" propagation="REQUIRED"/>
            <tx:method name="delete" propagation="REQUIRED"/>
            <tx:method name="*" propagation="SUPPORTS" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="poincut" expression="execution(* com.sxau.cyschool.service.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="poincut"/>
    </aop:config>

    <!--配置基于注解的事务支持-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!--添加注解功能-->
    <context:annotation-config/>

    <!--hibernate配置-->
    <bean id="baseHibernateDaoImpl" class="com.sxau.cyschool.dao.impl.BaseHibernateDaoImpl" abstract="true">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--通知-->
    <bean id="notificationDao" class="com.sxau.cyschool.dao.impl.NotificationDaoImpl" parent="baseHibernateDaoImpl"/>

    <bean id="notificationService" class="com.sxau.cyschool.service.impl.NotificationServiceImpl">
        <property name="titleDao" ref="notificationDao"/>
    </bean>

    <bean id="notificationAction" class="com.sxau.cyschool.controller.NotificationAction" scope="prototype">
        <property name="titleService" ref="notificationService"/>
        <property name="categoryService" ref="categoryService"/>
    </bean>

    <!--分类-->
    <bean id="categoryDao" class="com.sxau.cyschool.dao.impl.CategoryDaoImpl" parent="baseHibernateDaoImpl"/>

    <bean id="categoryService" class="com.sxau.cyschool.service.impl.CategoryServiceImpl">
        <property name="categoryDao" ref="categoryDao"/>
    </bean>
</beans>